<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="navbar">
        <div class="logo">
            <a href="{{ url_for('timer.home') }}">Учет рабочего времени</a>
        </div>
        <div class="nav-links">
            <a href="{{ url_for('timer.home') }}">Главная</a>
          {% if user %}
            <a href="#">Статистика</a>
            <a href="#">Профиль</a>
            <span>| Пользователь: <b>{{ user }} |</b></span>
            <a href="{{ url_for('users.logout') }}">Выйти</a>
          {% else %}
            <a href="{{ url_for('users.login') }}">Войти</a>
            <a href="{{ url_for('users.register') }}">Регистрация</a>
          {% endif %}
        </div>
    </div>
      {% block content %}
      {% endblock %}

</body>
</html>