{% extends 'base.html' %}
{% block title %}Учет рабочего времени{% endblock %}
{% block content %}
<div class="container">
    <div class="task-input">
        <input type="text" id="taskName" placeholder="Название дела" list="taskNames" />
        <datalist id="taskNames"></datalist>
        <button id="startButton">Пуск</button>
        <div class="timer" id="timer">00:00:00</div>
    </div>
    <div class="task-list">
        <h3>Предыдущие дела</h3>
        {% for item in data %}
        <div class="task-item">
            <strong>Дата: <span class="date">{{ item.date }}</span></strong>
            <p>Название дела: <span class="nameWork">{{ item.name_of_work }}</span></p>
            <p>Время: <span class="time">{{ item.time }}</span></p>
            <button class="table-button" onclick="location.href='{{ url_for('timer.edit', work_id=item.id) }}'">Изменить</button>
<!--            <button class="table-button" onclick="location.href='{{ url_for('timer.delete', work_id=item.id) }}'">Удалить</button>-->
            <button class="table-button" onclick="deleteTable('{{ (item.id) }}', event)">Удалить</button>
        </div>
        {% endfor %}
        <template id="template__task-item">
            <div class="task-item">
                <strong>Дата: <span class="date">2023-09-28</span></strong>
                <p>Название дела: <span class="nameWork">Название</span></p>
                <p>Время: <span class="time">02:20:10</span></p>
                <button class="table-button" onclick="location.href='#'">Изменить</button>
                <button class="table-button" onclick="location.href='#'">Удалить</button>
            </div>
        </template>
    </div>
</div>
<script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}
