{% extends 'base.html' %}

{% block title %}Авторизация{% endblock %}

{% block content %}
{% for cat, msg in get_flashed_messages(True) %}
  <div class="flash {{ cat }}">{{ msg }}</div>
{% endfor %}
{% if 'register' in request.url %}
    <form id="register-form" action="{{ url_for('users.register') }}" method="POST">
        {{ form.hidden_tag() }}
        <div class="task-item">
            <h2>Регистрация</h2>
{% else %}
    <form id="login-form" action="{{ url_for('users.login') }}" method="POST">
        {{ form.hidden_tag() }}
        <div class="task-item">
            <h2>Вход в аккаунт</h2>
{% endif %}
            <p>{{ form.username.label }} {{ form.username(size=32, class="form-control") }}</p>
            <p>{{ form.password.label }} {{ form.password(size=32, class="form-control") }}</p>
            {% if 'register' in request.url %}
              <button type="submit" class="table-button">Зарегистрироваться</button>
            {% else %}
              <button type="submit" class="table-button">Войти</button>
            {% endif %}
        </div>
    </form>
{% endblock %}
